In [1]:
import pandas as pd
import os
import time
import utils

import numpy as np

from sklearn import linear_model
from sklearn import tree
from sklearn import neighbors
from sklearn import naive_bayes
from sklearn import svm
from sklearn import ensemble

from sklearn import model_selection as ms
from sklearn import metrics

In [9]:
DATA_DIR = "data/"
DATA_FILE_TRAIN = os.path.join(DATA_DIR, "bowfinal/train_bow.csv")
DATA_FILE_TEST = os.path.join(DATA_DIR, "bowfinal/test_bow.csv")

In [10]:
df = utils.csv_to_dataframe(DATA_FILE_TRAIN)

c = len(df.columns)

print(len(df.columns))
print(len(df.index))
df.head(3)

2524
7613

,kw_ablaze,kw_accident,kw_aftershock,kw_airplaneaccident,kw_ambulance,kw_annihilated,kw_annihilation,kw_apocalypse,kw_armageddon,kw_army,...,youtub,youûªv,yr,zombi,zone,û,ûïwhen,ûò,ûó,target.1
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [11]:
column_labels = list(range(0, c))
df.columns = column_labels
df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,2514,2515,2516,2517,2518,2519,2520,2521,2522,2523
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [12]:
array = df.values
x = array[:,0:c-1]   # feature values
y = array[:,c-1]     # targets

#validation_size = 0.0000001
#seed = 11
#x_train, x_validation, y_train, y_validation = ms.train_test_split(x, y, test_size=validation_size, random_state=seed)

x_train = x
y_train = y

print(x.shape)
print(y.shape)
print('')
print(x_train.shape)
#print(x_validation.shape)
print('')
print(y_train.shape)
#print(y_validation.shape)

print(type(x_train))
print(type(y_train))

(7613, 2523)
(7613,)

(7613, 2523)

(7613,)
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

### **ALGORITHMS**

In [13]:
# all using default hyperparameters

models =[]
models.append(('LogReg', linear_model.LogisticRegression(C=0.3)))
models.append(('GaussNB', naive_bayes.GaussianNB()))
#models.append(('KNN', neighbors.KNeighborsClassifier()))
#models.append(('CART', tree.DecisionTreeClassifier()))
#models.append(('SVM', svm.SVC(gamma='auto')))
#models.append(('RandomF100', ensemble.RandomForestClassifier(n_estimators=100)))
#models.append(('RandomF200', ensemble.RandomForestClassifier(n_estimators=200)))
#models.append(('AdaBoost', ensemble.AdaBoostClassifier()))
#models.append(('GradBoost', ensemble.GradientBoostingClassifier()))

In [14]:
num_folds = 5
seed = 11
scoring = 'f1'

results = []
names = []

In [15]:
for name, model in models:
    start = time.time()
    kfold = ms.KFold(n_splits=num_folds, random_state=seed, shuffle=True)
    cv_results = ms.cross_val_score(model, x_train, y_train, cv=kfold, scoring=scoring)
    elapsed_time = time.time() - start
    
    results.append(cv_results)
    names.append(name)
    
    # print name, mean F1, standard deviation of accuracy, time taken
    print(f'{name}: \t {cv_results.mean()} \t {cv_results.std()} \t {elapsed_time}')

LogReg: 	 0.7977138109219735 	 0.007283965030109846 	 1.28202486038208
GaussNB: 	 0.7820821861548245 	 0.007861025134778082 	 1.6394321918487549

### **TRAIN MODEL ON ENTIRE TRAINING DATASET**

In [ ]:
model_logreg = linear_model.LogisticRegression(C=0.3)
model_logreg.fit(x_train, y_train)

#predictions = model_logreg.predict(x_validation)
#score = metrics.accuracy_score(y_validation, predictions)
#matrix = metrics.confusion_matrix(y_validation, predictions)
#report = metrics.classification_report(y_validation, predictions)

#print('Logistic Regression')
#print(score)
#print(matrix)
#print(report)

### **KAGGLE TEST SET**

In [106]:
df_test = utils.csv_to_dataframe(DATA_FILE_TEST)
df_test.head(3)

,kw_ablaze,kw_accident,kw_aftershock,kw_airplaneaccident,kw_ambulance,kw_annihilated,kw_annihilation,kw_apocalypse,kw_armageddon,kw_army,...,york,young,youth,youtub,yr,zone,û,ûïwhen,ûò,ûó
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [107]:
column_labels = list(range(0, c-1))
df_test.columns = column_labels
df_test.head(3)

,0,1,2,3,4,5,6,7,8,9,...,1820,1821,1822,1823,1824,1825,1826,1827,1828,1829
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [108]:
array_test = df_test.values
x_test = array_test[:,0:c]   # feature values
print(type(x_test))
print(x_test.shape)

<class 'numpy.ndarray'>
(3263, 1830)

### **OTHER ALGORITHM PREDICTIONS**

In [109]:
predictions = model_logreg.predict(x_test)
predictions_list = np.array(predictions).tolist()

print(type(predictions_list))
print(len(predictions_list))
print(predictions_list[0:10])

<class 'list'>
3263
[1, 1, 1, 0, 1, 1, 0, 0, 0, 0]

### **PREPARE SUBMISSION FILE**

In [110]:
DATA_FILE_TEST_ID = os.path.join(DATA_DIR, "test_id.csv")

test_id_list = utils.csv_to_list_of_strings(DATA_FILE_TEST_ID)

print(len(test_id_list))
print(test_id_list[0:10])

3263
['0', '2', '3', '9', '11', '12', '21', '22', '27', '29']

In [111]:
df_test_id = utils.csv_to_dataframe(DATA_FILE_TEST_ID)
df_test_id.shape

(3263, 1)

In [112]:
#predictions_list = predict_xgb_round

df_test_predict = pd.DataFrame({'col':predictions_list})
df_test_predict.columns = ['target']
df_test_predict.shape

(3263, 1)

In [113]:
df_submit = pd.concat([df_test_id, df_test_predict], axis=1)
df_submit.head(10)

   id  target
0   0       1
1   2       1
2   3       1
3   9       0
4  11       1
5  12       1
6  21       0
7  22       0
8  27       0
9  29       0

In [114]:
DATA_FILE_SUBMIT = os.path.join(DATA_DIR, "submission.csv")

utils.dataframe_to_csv(df_submit, DATA_FILE_SUBMIT)